.text-message{
    min-width: 20%;
    
    padding:15px 20px;
    background: #f5f5f5;
     
    
    
    p{
        font-size: 0.8rem;
        margin: 0;
    }

    &.bot{
        border-radius: 20px 20px 20px 0;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4),
                    -4px -4px 10px 0 rgba(#fff, 0.1);
        
        animation: moveFromLeft 0.3s ease ;
        
    }

    &.user{
        background: #00B4DB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
        border-radius: 20px 20px 0 20px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4),
                    -4px -4px 10px 0 rgba(#fff, 0.1);
        animation: moveFromRight 0.3s ease ;
    }
    
}


@keyframes moveFromLeft{

    0%{
        transform: translateX(-120%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes moveFromRight{

    0%{
        transform: translateX(120%);
    }
    100%{
        transform: translateX(0);
    }
}



@media only screen and (min-width: 1100px){

    .text-message{
        min-width: 0%;
        max-width: 70%;
        padding: 20px 20px;

        p{
            font-size: 1rem;
        }
    }
}