@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

.container{
    min-width: 20%;
    max-width: 63vw;
    padding:15px 40px;
    background: #f5f5f5;
    border-radius: 20px 20px 20px 0;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4),
                -4px -4px 10px 0 rgba(#fff, 0.1);
    background: #f5f5f5;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    .search-div{
        padding: 2px;
        margin: 10px auto;
        width:180px;
        // background-color: red;
        .search-box{
            margin: 2px auto;
            padding: 0 10px;
            width: 160px;
            height: 2rem;
            font-size: 0.9rem;
            background-color: #fff;
            border-radius: 6px;
            border: none;
            outline: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        }
    }
    
   .products-slider-container{
        width: 170px;
        height: 260px;
       

         .slider{
            
            
            .product-slide{
                width: 160px;
                 height: 250px;
                margin-top: 10px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;

                .product-card{
                    
                    width: 150px;
                    height: 230px;
                    border-radius: 20px;
                    margin: 10px auto;
                    background: #f5f5f5;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
                    overflow: hidden !important;
                    border: none;
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
         }

   }
   
}


@media only screen and (min-width: 1100px){
    .container{
        width: 508px;
       
        .products-slider-container{
            margin:0 auto;
            width: 90%;
            height: 300px;

            .slider{

                .product-slide{
                    width: 90%;
                    height: 290px;
                     
                    .product-card{
                        width: 90%;
                        height: 280px;
                        border-radius: 20px;
                        margin: auto;
                        background: #f5f5f5;
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
                    }
                }
            }   

       }
    }
}