.modal{

    max-width: 87vw;
    width: 600px;
    height: 90vh;
    background: #fff;
    border-radius: 20px;
    z-index: 270;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    // border: 2px solid #000; 
    box-shadow: 0 4px 8px 0 rgba($color: #000, $alpha: 1.0);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    animation: rise 0.2s linear;

    @keyframes rise {
        0%{
            height: 0;
            width: 0;
            background-color: #000;
        }

        25%{
            width: 150px;
            max-width: 20vw;
            height: 25vh;
            background-color: #000;
        }

        50%{
            max-width:  33vw;
            width: 300px;
            height: 50vh;
            background-color: #000;
        }

        75%{
            max-width: 40vw;
            width: 450px;
            height: 75vh;
            background-color: #000;
        }

        100%{
            width: 600px;
            height: 90vh;
        }
    }

    .header{
        width: 100%;
        height: 36%;
        position: relative;
        background: #00B4DB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
        img{
            position: absolute;
            max-width: 85%;
            max-height: 80%;
            left:50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }

        .close-btn{
            position: absolute;
            top:10px;
            right: 10px;

            width: 27px;
            height: 27px;
            border-radius: 50%;
            border:1px solid black;
            background: #fff;
            color: #000;
            font-size: 800;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;

        }
    }

    .body{
        width:96%;
        height: 44%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .name-section{
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;

            .left{
                height: 100%;
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .brand{
                    margin: 5px 0;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                }
    
                .name{
                    margin: 5px 0;
                    font-size: 1rem;
                    text-transform: capitalize;
                }
            }

           .right{
                margin:auto 0;
                height: 80%;
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 18px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
                .price{
                    margin: 5px 0;
                    font-size: 1.2rem;
                }
           }

        }

        .description{
            width:100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-y: scroll;

            &::-webkit-scrollbar{
                width: 8px;
            }

            &::-webkit-scrollbar-thumb{
                background-color: #aaa;
                border-radius: 500px;
            }

            span{
                margin-left: 24px;
            }

            ul{
                 width: 80%;
                    margin-left: 18px;
                    padding: 0;

                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #aaa;
                    padding: 2px;
                    text-transform: uppercase;

                    .key{
                      width: 40%;

                    }

                    .value{
                        width: 60%;
                    }
                }
            }
        }
    }

    .footer{
        width:96%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items:  center;

        .add-cart-btn{
            padding: 12px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
            border-radius: 6px;
            color: #fff;
            background: #00B4DB;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            cursor: pointer;
            transition: 0.15s linear;
            &:hover{
                transform: scale(1.04);
            }
        }
    }
}

@media only screen and (min-width: 1100px){
    
    .modal{

        .header{
            height: 45%;

            .close-btn{
                width: 36px;
                height: 36px;
            }
        }

        .body{
            width: 80%;
             
            .name-section{
                justify-content: space-around;
                .left{
                    width: 40%;
                    
                    .name{
                        font-size: 1.5rem;
                    }
                }
    
                .right{
                    width: 40%;

                    .price{
                        font-size: 1.8rem;
                    }
                }
            }
            
        }
    }
}