.modal{
    position: fixed;
    top:60px;
    left: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    height: 75px;

    .home-link{
        font-size: 1.4rem;
        text-decoration: none;
        color: black;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .link{
        font-size: 1rem;
        text-decoration: none;
        color: black;
        
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }

}