.profile{
     
    width:48px;
    height: 48px;
    margin: 0 20px 0 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
        width: 100%;
    }
}

@media only screen and (min-width: 1100px){
  
     .profile{
            margin:0 60px 0 20px;
    }
    
}