.card{
    width: 100%;
    height: 100%;
     
    overflow: hidden;
    
     

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
     

   img{
       
        margin:5px  0;
        width: 90%;
        height: 50%;
        border: 2px solid #aaa;
        border-radius: 20px;
    }

    .title{
        width:90%;
        height: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .name{
            font-size: 0.8rem;
            margin:2px 0;
            text-transform: capitalize;
            max-width: 80%;
        }

        .price{
            font-size: 1.2rem;
            margin: 2px 0;
            text-transform: capitalize;
        }
    }

    .footer{
        margin-top: auto;
        width:90%;
        height: 20%;
       
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .see-details-btn{
            padding: 8px 6px;
            border-radius: 6px;
            font-size: 0.8rem;
            box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #fff;
            background: #00B4DB;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
        }
    }
}

@media only screen and (min-width: 1100px){

    .card{

        .title{

            .name{
                font-size: 1rem;
            }

            .price{
                font-size: 1.2rem;
            }
        }
    }
}