.card{
    width: 100%;
    height: 100%;
     
    overflow: hidden;
    
     

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
     

   img{
       
        margin:0;
        width: 100%;
        height: 50%;
        
    }

    .title{
        width:90%;
        height: 30%;

        .name{
            font-size: 0.9rem;
            margin:2px 0;
            text-transform: capitalize;
            max-width: 80%;
        }

        .price{
            font-size: 1.4rem;
            margin: 6px 0;
            text-transform: capitalize;
        }
    }

    .footer{
        margin-top: auto;
        width:90%;
        height: 40px;
       
        display: flex;
        justify-content: center;
        align-items: center;

        .see-details-btn{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}