.loader{
   
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .eve{

        width: 300px;
        max-width: 75vw;
        animation: upDown 0.8s linear infinite;
        
    }

}

@keyframes upDown{
    0%{
        transform: translateY(-25px);
    }

    50%{
        transform: translateY(25px);
    }

    100%{
        transform: translateY(-25px);
    }
}