.snackbar{
    width:400px;
    height: 90px;
    max-width: 80%;
    visibility: hidden;
    background: rgba($color: #000000, $alpha: 0.96);
    padding: 10px 8px;
    z-index: 300;
    position: fixed;
    top:25vh;
    right: 20px;
    transform: translateX(480px);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin: 0;
        padding: 0;
    }

    &.active{
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 10s 0.5s;
        animation: fadein 0.5s, fadeout 10s 0.5s;
    }

    @-webkit-keyframes fadein {
        from {transform: translateX(480px); opacity: 0;} 
        to {transform: translateX(0); opacity: 1;}
      }
      
      @keyframes fadein {
        from {transform: translateX(480px); opacity: 0;} 
        to {transform: translateX(0); opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {transform: translateX(0);   opacity: 1;} 
        to {transform: translateX(0); opacity: 0;}
      }
      
      @keyframes fadeout {
        from {transform: translateX(0); opacity: 1;}
        to {transform: translateX(0); opacity: 0;}
      }
}