.button{
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    cursor: pointer;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            

    &:hover{
        box-shadow: none;
    }

    span{
        color:#fff;
        font-size: 0.87rem;
    }
}